<div class="row">
  <div class="right">
    <span><b>Ordenar por </b></span>
    <select name="" id="">
      <option>Más relevantes</option>
      <option>Precio Mayor a Menor</option>
      <option>Precio Menor a Mayor</option>
    </select>
  </div>
</div>
<div class="row" *ngIf="categories$ | async as categories; else loadingBlock">
  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3 gap-5">
    <div class="col-12 col-md-4" *ngFor="let category of categories">
      <app-category-card [category]="category"></app-category-card>
    </div>
  </div>

</div>
<ng-template #loadingBlock>
  <app-loading-block></app-loading-block>
</ng-template>
